*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    width:100vw;
    height: 12vh;
    background-color: black;
    color: white;
    text-decoration-line: 5px white;
}
 .logo img{
       height: 12vh;
       width:auto
}
.nav a{
    text-decoration: none;
     color: white;
     margin: 10px 10px;
     padding: 5px;
}
.nav a:hover{
    color: wheat;
    font-style: bold;
}
.searchbar input{
    height: 5vh;
    width: 1000px;
    margin: 5px;
}
.searchbar button{
    height: 3vh;
    width: 58px;
}
.text-box{
    width: 90%;
    color: rgb(8, 8, 8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    text-align: center;
    color: rgb(11, 12, 11);
    height: 70px;
    font-size: 62px;
    border: solid black 5px;
}
.text-box h2{
    font-size: 36px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}
.hero{
        display: inline-block;
        text-decoration: none;
        color:black;
        border:5px solid black;
        padding:12px 34px;
        font-size: 30px;
        background: transparent;
        position:relative;
        cursor: pointer;
}
.hero:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

main{
    height: 80vh;
    background: linear-gradient(pink,rgb(66, 171, 206));
    padding-top: 75px;
}
footer{
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.form{
    text-align: center;
    border: 5px solid black;
    width: 50%;
    height: auto;
    margin-left: 450px;
    background-color: #ddd;
}
.form-container {
    margin-top: 100px;
}
.feedhead{
    text-align: center;
    width: 50%;
    height: auto;
    margin-left: 450px;

}
.radio{
    margin-left: 50px;
    font-size: medium;
    
}
.frontimg{
    width: 100vw;
    height: 80vh;
}

    

 